<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>小鱼海棠</title>
	</head>

	<body>
		<canvas style="border: 1px solid red" width="1330" height="610"></canvas>
		<audio src="luhu.mp3" autoplay loop ></audio>
	</body>
	<script src="../moder/util.js"></script>
	<script src="../moder/loadImg.js"></script>
	<script src="../moder/sky.js"></script>
	<script src="../moder/land.js"></script>
	<script src="../moder/fish.js"></script>
	<script src="../moder/timer.js"></script>
	<script src="../moder/pipe.js"></script>
	<script src="../control/gameOver.js"></script>
	<script src="../control/gameControl.js"></script>
	<script src="flying_fish.js"></script>

</html>